*{
    margin: 0;
    padding: 0;
}

h3,h4{
    margin: 10px 0 10px 0;
}

.borde-r5{
    border-radius: 5px;
}

.texto-centrado{
    text-align: center;
}

.contenedor-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,290px);
    grid-template-rows: repeat(2,450px);
    grid-gap: 10px 30px; /* primer valor row, segundo columns (agrega espacios entre elementos)*/
}

.carta-img{
    width: 100%;
    height: 250px;
}

.carta-info{
    height: 180px;
    border: 1px solid black;
    padding: 10px;
}


/* 
   Sirve para asignar a un elemento cuanta capacidad ocupar entre sus filas y columnas => grid-column: 1/3;
   
   Idem para grid-row: 1/3;;

   Alinea un elemento horizontalmente usando justify-self

    //Las siguientes 2 propiedades van en el contenedor hijo: 

        justify-self: start/center/end; => Acomoda el elemento horizontalmente

        align-self: start/center/end; => acomoda el elemento verticalmente

    //Las siguientes 2 propiedades van en el contenedor padre::after
        justify-items: start/center/end;

        align-items: start/center/end;
*/