*{
    margin: 0;
    padding: 0;
}

h3,h4,h5,h6{
    margin: 15px 0 15px 0;
    font-family: sans-serif;
    font-size: 20px;
}

header{
    width: 100%;
    height: 80px;
    background-color: aquamarine;
}

footer{
    width: 100%;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

footer div{
    margin-left: 20px;
    width: 33%;
}

.borde-r5{
    border-radius: 5px;
}

.texto-centrado{
    text-align: center;
}

.sombra-carta{
    box-shadow: 2px 2px 2px 1px rgba(20, 19, 19, 0.637);
}

.contenedor-flex{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(2,600px);
    grid-gap: 30px 30px; /* primer valor row, segundo columns (agrega espacios entre elementos)*/
    justify-content: center; /* centra el contenedor */
}

.carta-img{
    width: 100%;
    height: 370px;
}

.carta-info{
    height: 180px;
    padding: 10px;
}

.contenedor-secundario{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 60px 0;
}

.contenedor-secundario h3{
    font-family: "Karma", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

h6 i{
    font-weight: 400;
    font-size: 16px;
}

.texto-secundario{
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
}


/* 
   Sirve para asignar a un elemento cuanta capacidad ocupar entre sus filas y columnas => grid-column: 1/3;
   
   Idem para grid-row: 1/3;;

   Alinea un elemento horizontalmente usando justify-self

    //Las siguientes 2 propiedades van en el contenedor hijo: 

        justify-self: start/center/end; => Acomoda el elemento horizontalmente

        align-self: start/center/end; => acomoda el elemento verticalmente

    //Las siguientes 2 propiedades van en el contenedor padre::after
        justify-items: start/center/end;

        align-items: start/center/end;
*/