*{
    margin: 0;
    padding: 0;
}

h3,h4,h5,h6{
    margin: 15px 0 15px 0;
    font-family: sans-serif;
    font-size: 20px;
}

.contenedor-pagina{
    margin: 0 auto;
    height: 100%;
    width: 1300px;
}

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

footer{
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

footer div{
    margin-left: 20px;
    width: 50%;
}

.borde-r5{
    border-radius: 5px;
}

.texto-centrado{
    text-align: center;
}

.sombra-carta{
    box-shadow: 2px 2px 2px 1px rgba(20, 19, 19, 0.637);
}

.contenedor-flex{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(2,600px);
    grid-gap: 30px 30px; /* primer valor row, segundo columns (agrega espacios entre elementos)*/
    justify-content: center; /* centra el contenedor */
    margin-bottom: 50px;
}

.carta-img{
    width: 100%;
    height: 370px;
}

.carta-info{
    height: 180px;
    padding: 10px;
}

.contenedor-secundario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 60px 0;
}

.contenedor-secundario h3{
    font-family: "Karma", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

h6 i{
    font-weight: 400;
    font-size: 16px;
}

.texto-secundario{
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
}

.contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}

